<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Super Události{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

<nav>
    <div class="container">
        <a href="/">Super Události</a>
        
        <ul>
            <li><a href="{% url 'homepage' %}">Domů</a></li>
            <li><a href="{% url 'event-list' %}">Seznam Událostí</a></li>
            <li><a href="#">Vyhledávání</a></li>
            <li><a href="{% url 'event-create' %}">Přidat událost</a></li>
            <li><a href="#">O nás</a></li>
            
            {% if user.is_authenticated %}
                <li><span>Vítejte, {{ user.first_name|default:user.username }}</span></li>
                <li><a href="{% url 'logout' %}">Odhlásit</a></li>
            {% else %}
                <li><a href="{% url 'login' %}">Přihlášení</a></li>
                <li><a href="{% url 'signup' %}">Registrace</a></li>
            {% endif %}
        </ul>
    </div>
    <div>
        {% if user.is_authenticated %}
            {{ user.username|default:user.username }}
        {% else %}
            Nepřihlášený uživatel
        {% endif %}
    </div>

</nav>

<main class="container">
    {% block content %}
    {% endblock %}
</main>

<footer>
    <div class="container">
        <p>&copy; 2025 Super Události | Vytvořil <a href="#">Franců Patrik</a></p>
    </div>
</footer>

</body>
</html>