{% extends 'viewer/base.html' %}

{% block title %}
{{ event.name }} | Super Události
{% endblock %}

{% block content %}
<h1>{{ event.name }}</h1>

<div class="event-dates">
    <span><strong>Od:</strong> {{ event.start_date | date:"d.m.Y" }}</span>
    <span><strong>Do:</strong> {{ event.end_date | date:"d.m.Y" }}</span>
</div>
<br>
{% if event.event_image %}
<img alt="Obrázek události" src="{{ event.event_image.url }}" style="max-width: 500px;">
{% else %}
<p>Obrázek není k dispozici.</p>
{% endif %}

<p>{{ event.description }}</p><br>

<h3>Komentáře:</h3>
<ul>
    {% for comment in event.comments.all %}
    <li>
        <strong>{{ comment.user.username }}</strong>:
        {{ comment.content }} ({{ comment.date_posted }})
    </li>
    {% empty %}
    <li>Žádné komentáře zatím nejsou.</li>
    {% endfor %}
</ul>
{% endblock %}
