{% extends 'viewer/base.html' %}

{% block title %}
Seznam Událostí | Super Události
{% endblock %}

{% block content %}
  <h1>Seznam událostí</h1>

  <ul>
    {% for event in events %}
      <li>
        <strong>
          <a href="{% url 'event-detail' event.pk %}">{{ event.name }}</a>
        </strong><br>
        {{ event.start_date|date:"d.m.Y" }} - {{ event.end_date|date:"d.m.Y" }}<br>
        {{ event.description|slice:":100" }}...<br>
      </li>
    {% empty %}
      <li>Žádné události zatím nejsou.</li>
    {% endfor %}
  </ul>
{% endblock %}
