{% extends 'viewer/base.html' %}

{% block title %}
{{ event.name }} | Super Události
{% endblock %}

{% block content %}
<h1>{{ event.name }}</h1>

<div class="event-dates">
    <span><strong>Od:</strong> {{ event.start_date | date:"d.m.Y" }}, {{ event.start_time|time:"H:i" }} </span><br>
    <span><strong>Do:</strong> {{ event.end_date | date:"d.m.Y" }}, {{ event.end_time|time:"H:i" }} </span>
</div>
<br>
<div>
    {{ event.location.name }}<br>
    {{ event.location.address }}<br>
    {{ event.location.city.name }} {{ event.location.city.zip_code }}, {{ event.location.city.country.name }}<br>
</div>

<div class="coordinates">
    <strong>Souřadnice:</strong>
    LA: {{ event.location.latitude }}, LO: {{ event.location.longitude }}
</div><br>
{% if event.event_image %}
<img alt="Obrázek události" src="{{ event.event_image.url }}" style="max-width: 500px;">
{% else %}

{% endif %}

<p>{{ event.description }}</p><br>
<p><strong>Přidal:</strong> {{ event.owner_of_event.username }}, {{ event.owner_of_event.get_full_name }}</p>

<br>
<h3>Komentáře:</h3>

<ul>
    {% for comment in event.comments.all %}
    <li>
        <strong>{{ comment.user.username }}</strong>:
        {{ comment.content }} ({{ comment.date_posted }})
    </li>
    {% empty %}
    <li>Žádné komentáře zatím nejsou.</li>
    {% endfor %}
</ul>
{% endblock %}
