{% extends 'viewer/base.html' %}
{% load static %}

{% block title %}
Seznam Událostí | Seznam událostí
{% endblock %}

{% block content %}
<div class="event-list-header">
    <h1 class="event-list-title">Seznam událostí</h1>
    <div class="event-list-actions">
    </div>
</div>

<ul>
    {% for event in events %}
    <li>
        <div class="event-item">
            <div class="event-image">
                <a href="{% url 'event-detail' event.pk %}">
                    {% if event.event_image %}
                        <img src="{{ event.event_image.url }}" alt="{{ event.name }}">
                    {% else %}
                        <img src="{% static 'images/placeholder.png' %}" alt="Placeholder image">
                    {% endif %}
                </a>
            </div>
            <div class="event-content">
                <strong>
                    <a class="event-title" href="{% url 'event-detail' event.pk %}">{{ event.name }}</a>
                </strong><br>
                <strong>{{ event.start_date|date:"d.m.Y" }} - {{ event.end_date|date:"d.m.Y" }}</strong><br>
                {{ event.description|slice:":190" }}...
            </div>
        </div>
    </li>
    {% empty %}
    <li>Žádné události zatím nejsou.</li>
    {% endfor %}
</ul>
{% endblock %}