{% extends 'viewer/base.html' %}
{% block title %}Změna hesla{% endblock %}

{% block content %}
  <form method="post">
    {% csrf_token %}
    <table>
      <tr>
        <th><label for="{{ form.old_password.id_for_label }}">Staré heslo:</label></th>
        <td>{{ form.old_password }}</td>
      </tr>
      <tr>
        <th><label for="{{ form.new_password1.id_for_label }}">Nové heslo:</label></th>
        <td>{{ form.new_password1 }}</td>
      </tr>
      <tr>
        <th><label for="{{ form.new_password2.id_for_label }}">Potvrzení nového hesla:</label></th>
        <td>{{ form.new_password2 }}</td>
      </tr>
    </table>

    <ul>
      <li>Heslo nesmí být příliš podobné osobním údajům.</li>
      <li>Heslo musí mít alespoň 8 znaků.</li>
      <li>Heslo nesmí být běžně používané.</li>
      <li>Heslo nesmí být jen číselné.</li>
    </ul>

    <input type="submit" id="id_submit" value="Změnit heslo" class="btn btn-primary">
  </form>
{% endblock %}
